/*CSS pour le projet Calculator2000*/
body {
	font-family: 'Spectral SC', serif;
	text-align: center;
}

#titre {
	text-shadow: 5px 5px 6px #BAC0BF;
	text-align: center;
}

.touchecarrees {
	height: 60px;
}

.touchecarrees:hover {
 background-color: #A9A9A9;
}

.toucheoperateur {
	padding: 32px 16px;
}

.toucheoperateur:hover {
 background-color: #A9A9A9;
}

.touchedisable {
    opacity: 0.6;
    cursor: not-allowed;
}

#egal {
	width: 300px;
}
