/*CSS pour le projet Calculator2000*/
body {
	font-family: 'Spectral SC', serif;
	text-align: center;
}

#titre {
	text-shadow: 5px 5px 6px #BAC0BF;
	text-align: center;
}

.touchecarrees {
	
}

.toucheoperateur {

}

#divise {
	;
}

#parentheseouverte {

}

#parenthesefermee {

}

#effacer {

}

#addition {

}

#sept {

}

#huit {

}

#multiplication {

}